SofTec_NWC_CCB_Integration1/CCB_NWC_Integration/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WorkOrder" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:12572/WorkOrder.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:12572/WorkOrder.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:12572/WorkOrder.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NWC_CCB_Integration.DTO.Output" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWorkOrder_CreateWorkOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateWorkOrder" />
  </wsdl:message>
  <wsdl:message name="IWorkOrder_CreateWorkOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateWorkOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkOrder_CreateWorkOrder2_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateWorkOrder2" />
  </wsdl:message>
  <wsdl:message name="IWorkOrder_CreateWorkOrder2_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateWorkOrder2Response" />
  </wsdl:message>
  <wsdl:message name="IWorkOrder_UpdateWorkOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWorkOrder" />
  </wsdl:message>
  <wsdl:message name="IWorkOrder_UpdateWorkOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWorkOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IWorkOrder">
    <wsdl:operation name="CreateWorkOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkOrder/CreateWorkOrder" message="tns:IWorkOrder_CreateWorkOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkOrder/CreateWorkOrderResponse" message="tns:IWorkOrder_CreateWorkOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateWorkOrder2">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkOrder/CreateWorkOrder2" message="tns:IWorkOrder_CreateWorkOrder2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkOrder/CreateWorkOrder2Response" message="tns:IWorkOrder_CreateWorkOrder2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkOrder/UpdateWorkOrder" message="tns:IWorkOrder_UpdateWorkOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkOrder/UpdateWorkOrderResponse" message="tns:IWorkOrder_UpdateWorkOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWorkOrder" type="tns:IWorkOrder">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateWorkOrder">
      <soap:operation soapAction="http://tempuri.org/IWorkOrder/CreateWorkOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateWorkOrder2">
      <soap:operation soapAction="http://tempuri.org/IWorkOrder/CreateWorkOrder2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkOrder">
      <soap:operation soapAction="http://tempuri.org/IWorkOrder/UpdateWorkOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WorkOrder">
    <wsdl:port name="BasicHttpBinding_IWorkOrder" binding="tns:BasicHttpBinding_IWorkOrder">
      <soap:address location="http://localhost:12572/WorkOrder.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>