SofTec_NWC_CCB_Integration1/CCB_NWC_Integration/Connected Services/ServiceReference1/WorkOrder1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NWC_CCB_Integration.DTO.Output" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NWC_CCB_Integration.DTO.Output" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WorkOrderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" type="xs:int" />
      <xs:element minOccurs="0" name="ResponseDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkOrderResponse" nillable="true" type="tns:WorkOrderResponse" />
</xs:schema>