SofTec_NWC_CCB_Integration1/BLL/NWC_CCB_Integration.BLL/Connected Services/UpdateWONotificationServiceRef/TMSNwcUpdateWONotification.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ecs="http://www.eChannelService.nwc.com.sa" xmlns:enutwn="http://www.nwc.com.sa/TMSNwcUpdateWONotification" elementFormDefault="qualified" targetNamespace="http://www.nwc.com.sa/TMSNwcUpdateWONotification" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://10.56.59.80:21303/NwcCompass/TMSNwcUpdateWONotificationProject/TMSNwcUpdateWONotification?SCHEMA%2FeChannelCommonServices%2FResources%2FSchemas%2FeChannelService" namespace="http://www.eChannelService.nwc.com.sa" />
  <xsd:element name="TMSWONotificationRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="transactionId" type="xsd:string" />
        <xsd:element name="sourceApplication">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="TMS" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="orderNumber">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:minLength value="1" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="cisDivision" type="ecs:cisDivison" />
        <xsd:element name="orderStatus">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="1" />
              <xsd:enumeration value="2" />
              <xsd:enumeration value="3" />
              <xsd:enumeration value="4" />
              <xsd:enumeration value="5" />
              <xsd:enumeration value="6" />
              <xsd:enumeration value="7" />
              <xsd:enumeration value="8" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="updateDateTime">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:pattern value="(0[1-9]|[12][0-9]|3[01])-(0[1-9]|1[012])-\d{4} (0[0-9]|[1][0-9]|2[0123]):[0-5][0-9]:[0-5][0-9]" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="parameters">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="parameter">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="parameterName" type="xsd:string" />
                    <xsd:element name="parameterValue" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TMSWONotificationResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="transactionId" type="xsd:string" />
        <xsd:element name="sourceApplication" type="xsd:string" />
        <xsd:element name="status" type="xsd:string" />
        <xsd:element name="responseCode" type="xsd:string" />
        <xsd:element name="responseDescription" type="xsd:string" />
        <xsd:element minOccurs="0" name="errorCode" type="xsd:string" />
        <xsd:element minOccurs="0" name="errorDescription" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>